#color {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.bgIMG {
    background-image: url(/assets/img/rocket.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}